p {
  font-family: Lato;
}

.flex {
  height: 800px;
  display: flex;
  /* flex-wrap: wrap; */
}

.column {
  border: 1px black solid;
  height: 100%;
}

.col-left {
  /* width: 200px; */
  min-width:200px;
}

.col-middle {
  min-width: 100px;
  width: 100%;
}

.col-right {
  /* width: 300px; */
  min-width:300px;
}

@media screen and (max-width: 600px) {
  body{
    overflow-y: scroll;
  }
}